<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445986193855-kvt8luph79s3esfut87ati153nilqdtg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445986193855-kvt8luph79s3esfut87ati153nilqdtg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>445986193855-a8ve0kpb43a759sm3kcbi8gski9gnat7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDoXucmGh6LBRv_Ga-wSzJWBVJoAlMBHGE</string>
	<key>GCM_SENDER_ID</key>
	<string>445986193855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emmanuelokp.wemeet.chat</string>
	<key>PROJECT_ID</key>
	<string>wemeet-1701783793326</string>
	<key>STORAGE_BUCKET</key>
	<string>wemeet-1701783793326.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445986193855:ios:974a970cf5aacd3094e10a</string>
</dict>
</plist>